.preview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .controls {
    display: flex;
    justify-content: center;

    button {
      width: 33%;
    }
  }

  .image {
    position: relative;
    flex-grow: 1;

    .background,
    .foreground {
      position: absolute;
      width: 100%;
      height: 100%;

      & > svg {
        width: 100%;
        height: 100%;
      }
    }

    .background {
      .marks {
        opacity: 0.1;
      }

      &[data-light="false"] {
        .fill {
          fill: #101010;
        }

        .mark {
          fill: #f0f0f0;
        }
      }

      &[data-light="true"] {
        .fill {
          fill: #f0f0f0;
        }

        .mark {
          fill: #101010;
        }
      }
    }
  }
}
